<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>电费情况查询 - 学生宿舍管理系统</title>
		<link rel="shortcut icon" href="../static/img/head.png" type="image/x-icon">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">

		<link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
	</head>
	<body>

		
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
				<div class="layui-logo">学生宿舍管理系统</div>
				<!-- 头部区域（可配合layui 已有的水平导航） -->
				<ul class="layui-nav layui-layout-right">
					<li class="layui-nav-item">
						<a href="javascript:;">
							<img src="../static/img/head.png" class="layui-nav-img">
							测试用户
						</a>
						<dl class="layui-nav-child">
							<dd><a href="">set 1</a></dd>
							<dd><a href="">set 2</a></dd>
						</dl>
					</li>
					<li class="layui-nav-item"><a href="login">退出</a></li>
				</ul>
			</div>
		
			<div class="layui-side layui-bg-black">
				<div class="layui-side-scroll">
					<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-tree" lay-filter="test">
						<li class="layui-nav-item"><a href="/">主页</a></li>
						<li class="layui-nav-item">
							<a href="javascript:;">系统管理</a>
							<dl class="layui-nav-child">
								<dd><a href="a1-1">用户综合管理</a></dd>
								<dd><a href="a1-2">数据库管理</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;">学生管理</a>
							<dl class="layui-nav-child">
								<dd><a href="a2-1">学生信息浏览</a></dd>
								<dd><a href="a2-2">学生信息登记</a></dd>
								<dd><a href="a2-3">学生信息修改</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;">住宿管理</a>
							<dl class="layui-nav-child">
								<dd><a href="a3-1">入住管理</a></dd>
								
								<dd><a href="a3-3">学生退宿</a></dd>
								<dd><a href="a3-4">期末注销</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item layui-nav-itemed">
							<a href="javascript:;">查询管理</a>
							<dl class="layui-nav-child">
								<dd><a href="a4-1">寝室情况查询</a></dd>
								<dd><a href="a4-2">学生情况查询</a></dd>
								<dd><a href="a4-3">来访情况查询</a></dd>
								<dd><a href="a4-4">设备情况查询</a></dd>
								<dd class="layui-this"><a href="a4-5">电费情况查询</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;">门卫管理</a>
							<dl class="layui-nav-child">
								<dd><a href="a5-1">来访登记</a></dd>
								<dd><a href="a5-2">结束登记</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;">寝室管理</a>
							<dl class="layui-nav-child">
								
								<dd><a href="a6-2">设备管理</a></dd>
								<dd><a href="a6-3">宿舍评比</a></dd>
								<dd><a href="a6-4">电费管理</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item"><a href="a7-1">统计</a></li>
						<li class="layui-nav-item"><a href="a8-1">报表</a></li>
					</ul>
				</div>
			</div>

			<div class="layui-body" style="background-color: #F6F6F6;">
				<!-- 内容主体区域 -->
				<div style="padding: 20px;padding-top: 10px;">

					<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="margin-top: 0px;">
						<ul class="layui-tab-title">
							<li class="layui-this">电费情况查询</li>
							
						</ul>
						<div class="layui-tab-content">
							<div class="layui-tab-item layui-show">
								<div style="width: 500px;height: 500px; ">
										
										<div class="layui-card">
											<div class="layui-card-header">用户信息</div>
											<div class="layui-card-body">
												<form class="layui-form" action="">
													
													<div class="layui-form-item">
														<label class="layui-form-label">宿舍地址</label>
														<div class="layui-input-block">
															<select name="city" lay-verify="required">
																<option value=""></option>
																<option value="0">南苑1号楼</option>
																<option value="1">南苑2号楼</option>
																<option value="2">南苑3号楼</option>
																<option value="3">南苑4号楼</option>
																							
															</select>
														</div>
													</div>
													
													<div class="layui-form-item">
														<label class="layui-form-label">宿舍号</label>
														<div class="layui-input-block">
															<input type="text" name="title" required lay-verify="required" placeholder="请输入宿舍号" autocomplete="off" class="layui-input">
														</div>
													</div>
													
													<div class="layui-form-item">
														<label class="layui-form-label">学号</label>
														<div class="layui-input-block">
															<input type="text" name="title" required lay-verify="required" placeholder="请输入学号" autocomplete="off" class="layui-input">
														</div>
													</div>
													<div class="layui-form-item">
														<label class="layui-form-label">姓名</label>
														<div class="layui-input-block">
															<input type="password" name="password" required lay-verify="required" placeholder="请输入姓名" autocomplete="off"
															 class="layui-input">
														</div>
												
													</div>
													
													
													
													<div class="layui-form-item" style="padding-left:80px ;">
															<div class="layui-input-block">
																<button class="layui-btn" lay-submit lay-filter="formDemo">提交查询</button>
																
															</div>
														</div>
													</form>
											</div>
										</div>
										
										
								</div>



							</div>
							
							
							
						</div>

					</div>

				</div>


			</div>


		</div>
		<script src="../static/layui/layui.js" charset="utf-8"></script>
		<script>
			//JavaScript 代码区域
			layui.use('element', function() {
				var element = layui.element;

			});
		</script>
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?d214947968792b839fd669a4decaaffc";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</body>
</html>
