<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>宿舍网站</title>
    <link rel="stylesheet" href="../static/./css/home.css">

</head>

<body>

    <body>

        <div class="div3">
            <header>
                <h1>宿舍网站</h1>
            </header>
            <nav>
                <a href="#">首页</a>
                <a href="https://www.czimt.edu.cn/zxxs/5117/list.htm">新生指南</a>
                <a
                    href="http://oa.czimt.edu.cn/wui/index.html?#/main/portal/portal-81-86?menuIds=0,81&menuPathIds=0,81&_key=el2fyg">OA系统</a>
                <a href="http://portal.czimt.edu.cn/#/login">上网认证</a>
                <a href="login">管理系统</a>
            </nav>
            <section>
                <article>
                    <a href="#">
                        <img src="https://via.placeholder.com/300x200.png?text=Image1" alt="宿舍图片">
                        <h2>四人间</h2>
                        <p>本宿舍提供的标准单人间，面积30平方米，配置齐全，有独立卫生间和淋浴间，有窗户采光良好。</p>

                    </a>
                </article>
                <article>
                    <a href="">
                        <img src="https://via.placeholder.com/300x200.png?text=Image1" alt="宿舍图片">
                        <h2>六人间</h2>
                        <p>本宿舍提供的双人间，面积40平方米，适合情侣或好友居住，有独立卫生间和淋浴间，有窗户采光良好。</p>
                    </a>
                </article>

                </article>
            </section>
            <div class="div2">
                <a href="https://www.czimt.edu.cn/main.htm"><img src="../static//img/logo.png" alt=""></a>
            </div>
            <div class="div1" id="footer">
                <div class="inner">
                    <div class="mod clearfix">
                        <div class="foot-left">

                        </div>
                        <div class="foot-center" frag="窗口90" portletmode="simpleSiteAttri">
                            <p class="title">联系我们</p>
                            <p class="copyright"><span>地址：江苏省常州市武进区鸣新中路26号</span></p>
                            <p class="copyright"><span>邮编：213164 电话：0519-86331000</span></p>
                            <p class="copyright"><span>传真：0519-86331111</span> <span></span></p>
                            <p class="copyright"><span>招生咨询电话：0519-86331666</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div id="slideshow">
            <img src="./img/bg.jpg" alt="Image 1">
            <img src="./img/head.png" alt="Image 2">
            <img src="./img/icon.png" alt="Image 3">
        </div> -->
        <!-- <script>
            var slideshow = document.getElementById("slideshow");
            var images = slideshow.getElementsByTagName("img");
            var currentIndex = 0;
            var intervalId = setInterval(function () {
                images[currentIndex].style.display = "none";
                currentIndex = (currentIndex + 1) % images.length;
                images[currentIndex].style.display = "block";
            }, 3000);
        </script> -->
    </body>
</html>
</body>

</html>