<!DOCTYPE html>
<html lang="zh-CN">

<head>
<meta charset="utf-8">
<title>登录注册 - 学生宿舍管理系统</title>
<link rel="shortcut icon" href="../static/img/head.png" type="image/x-icon">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/layui/css/layui.css">
<script src="../static/layui/layui.js"></script>
<script src="../static/js/jquery-3.6.0.min.js"></script>
</head>

<body >
    <div class="content">
        <div class="form sign-in">
            <h2>学生宿舍管理系统</h2>
            <label>
                <span>账号</span>
                <input type="email" id="username"/>
            </label>
            <label>
                <span>密码</span>
                <input type="password" id="password"/>
            </label>
            <p class="forgot-pass" onclick="forget_password()"><a href="javascript:">忘记密码？</a></p>
			
			<!-- layui插入 -->
			<form class="layui-form" action="">
			  <div class="layui-form-item" style="margin-left: 40px;">
			    <div class="layui-input-block">
				<input type="radio" name="people" value="0" title="学生" checked>
				<input type="radio" name="people" value="1" title="宿舍管理员" >
				<input type="radio" name="people" value="2" title="辅导员">
			    </div>
			  </div>
			 
			</form>
			<!-- layui插入 -->	
			<center>
            <button type="button" class="submit" onclick="login()"><a href="1-1">登 录</a></button>
            <button type="button" class="fb-btn" onclick="userphonelogin()">使用 <span>手机号码</span> 登录</button>
			</center>
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2>还未注册？</h2>
                    <p>立即注册！</p>
                </div>
                <div class="img__text m--in">
                    <h2>已有帐号？</h2>
                    <p>有帐号就登录吧，好久不见了！</p>
                </div>
                <div class="img__btn">
                    <span class="m--up">注 册</span>
                    <span class="m--in" onclick="login();">登 录</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>立即注册</h2>
                <label>
                    <span>用户名</span>
                    <input type="text" id="register_username"/>
                </label>
                <label>
                    <span>邮箱</span>
                    <input type="email" id="register_email"/>
                </label>
                <label>
                    <span>密码</span>
                    <input type="password" id="register_password"/>
                </label>
				<center>
                <button type="button" class="submit" id="zhuce" onclick="register()">注 册</button>
                <button type="button" class="fb-btn" onclick="userphonelogin()">使用 <span>手机号码</span> 注册</button>
				</center>
            </div>
        </div>
    </div>
	
	<!-- 注册与登录的跳转与事件处理 -->
    <script src="../static/js/home-script.js"></script>
	
	
	
	
</div>
</body>

</html>